.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: blueviolet !important;
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
  background-color: rgb(234, 216, 252) !important;
}

.css-rtpxwx-MuiTypography-root {
font-size: 2rem !important;
font-weight: bold !important;
}

.css-1uwgr7b-MuiTypography-root {
  font-size: 1.5rem !important;
}

.css-i4bv87-MuiSvgIcon-root{
  width: 3rem !important;
  height: 3rem !important;
}